<div class="row text-center" ng-init="inicio()">
	
	<!-- <div class="login">
		
		<div class="padding">
			<img src="imgs/logomv.png" alt="logo">
		</div>
		<div class="loginheader">
			Inicia Sesion
		</div>
		<form ng-submit="login()">
		<div class="loginbody">
			
			<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" ng-model="user" placeholder="Usuario">
			</div>
			<br>
			<div class="form-group">
			<input type="password" class="form-control" id="exampleInputPassword1" ng-model="psw" placeholder="Contraseña">
			</div>
			<hr class="linea">
		</div>
		<div class="loginfooter">
			<button type="submit" id="boton" data-loading-text="Verificando..." class="btn btn-default btn-block">Iniciar Sesion</button>
			<br>
		</div>
		</form>
		<br>
		<div ng-show="mensaje" class="alert alert-danger alertas" role="alert"> 
			{{ mensaje }} 
		</div>
		
	</div> -->
	<div class="contenedor">
		<br><br>
		<div class="padding">
			<img src="imgs/logomv.png" alt="logo">
		</div>
		<section class="main">
			<form class="form-1" ng-submit="login()">
				<p class="field">
					<input type="text" name="login" placeholder="Usuario"  ng-model="user">
					<i class="fa fa-user icon-large"></i>
				</p>
					<p class="field">
						<input type="password" name="password" placeholder="Contraseña" ng-model="psw">
						<i class="fa fa-lock icon-large"></i>
				</p>
				<p class="submit">
					<button type="submit" name="submit"><i  class="icon-large" ng-class=" {'fa fa-arrow-right': nocargando, 'fa fa-spinner fa-spin': cargando }"></i></button>
				</p>
			</form>
			<br>
			<div ng-show="mensaje" class="alert alert-info alertas" role="alert"> 
				{{ mensaje }} 
			</div>
		</section>
		
	</div>

</div>

<script>
	$.backstretch('imgs/bg.jpg');
</script>